@import "./components/Board.less";
@import "./components/Tile.less";
@import "./components/Piece.less";
@import "./components/PromotionSelector.less";

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.DB {
  background-image: url(./images/DB.svg);
}
.DK {
  background-image: url(./images/DK.svg);
}
.DN {
  background-image: url(./images/DN.svg);
}
.DP {
  background-image: url(./images/DP.svg);
}
.DQ {
  background-image: url(./images/DQ.svg);
}
.DR {
  background-image: url(./images/DR.svg);
}
.LB {
  background-image: url(./images/LB.svg);
}
.LK {
  background-image: url(./images/LK.svg);
}
.LN {
  background-image: url(./images/LN.svg);
}
.LP {
  background-image: url(./images/LP.svg);
}
.LQ {
  background-image: url(./images/LQ.svg);
}
.LR {
  background-image: url(./images/LR.svg);
}
